<br><br>
Create Account
<br><br>

<input type="text" placeholder="Enter Email" [(ngModel)]="email"><br>

{{ email }} is available

<br><br><br>
checkboxes and Radio Buttons:<br>
<input type="checkbox" [(ngModel)]="isChecked"><br>

Checked:{{isChecked}}
<br><br><br>

<input type="radio" [(ngModel)]="gender" value="Male"> Male
<input type="radio" [(ngModel)]="gender" value="Female"> Female
<br>

Gender:{{gender}}

<br><br>
Sliders and Range Inputs:<br>
<input type="range" [(ngModel)]="sliderVal">
value: {{sliderVal}}


<br><br><br>
Select Dropdowns:<br>
<select [(ngModel)]="tech">
  <option value="angular">angular</option>
  <option value="react">react</option>
  <option value="vue">vue</option>
  <option value="javascript">javascript</option>
</select>
<br>
value: {{tech}}

